@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap");
:root {
    --first-color: #FFFFFF;
    --second-color:#3667a4;
    --third-color: #4dce14;
    --background-color:#2E3237EE;
    --black:#000000;
    font-family: 'Dosis', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
p {
    font-weight: 200;
}