html {
  scroll-behavior: smooth;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  height: 72px;
  width: 100%;
  background-color: var(--background-color);
}

body {
    
    font-size: 14px;
    color: var(--black);
    line-height: 1.8;
    letter-spacing: 1px;
    font-family: 'Dosis', sans-serif;
    text-align: left;
    -webkit-text-size-adjust: 100%;
    margin: auto;
    width: 100%;
    transition: all 800ms ease;
}

button{
  transition: all 800ms ease;
}

.hello{
  color:var(--first-color);
  width: 100px;
  padding: 15px 32px;
  cursor: pointer;
  padding: inherit;
  border-radius: 10px;
  height: 77px;
  position: absolute;
  margin: auto;
  background: var(--second-color);
  border: solid var(--black);
  margin-top: 30px;
}

img {
    width: 100%;
    height: auto;
    transition: all 800ms ease;
}

a{

    text-decoration: none;

}

.logo{
    margin-top: 30px;
    text-align: center;
}

.logo a {
    display: block;
    width: 350px;
    height: auto;
    margin: 100px auto 10px;
}

.logo span{
        display: block;
        font-size: x-large;
        font-weight: 450;
        margin-top: -20px;
    
    
}




.fa-linkedin-in {
  position: relative;
  top: 0;
  margin: 57px 120px 0px 120px;
  font-size: x-large;
}
.fa-linkedin-in:hover {
  
color:  var(--second-color);
}


nav {
  position: relative;
}

/* Göm länkarna på menyn så dem inte syns från början*/
nav #myLinks {  
display: none;
width: 100%;
position: absolute;
justify-content: end;
text-align: center;
background: var(--background-color);
height: 2000px;
margin-top: 72px;
}

/* Fixa nav meny länkarna */
nav a {
  color: var(--first-color);
  text-decoration: none;
  width: 300px;
  margin: auto;
  font-size: 28px;
  border-radius: 66px;
  font-family: 'Dosis', sans-serif;
  display: block;
  padding: 25px;
  height: 3%;
}

/* Lägg till bakgrunds-färg (on mouse-hover) */
nav a:hover {
  background-color: var(--first-color);
  color: var(--black);
}

.hamburger /* Styla hamburgaren*/ {
  display: block;
  position: fixed;
  top: 1px;
  right: 13px;
  font-size: xx-large;
  width: 1.25em;
  height: 0.8em;
  margin-top: 0.5em;
  margin-right: 0.3em;
  border-radius: 9px;
  border-top: 0.3em solid var(--first-color);
  border-bottom: 0.3em solid var(--first-color);
  animation:bounce 1s infinite;
}
.hamburger:hover {
  animation-play-state: paused;
}

@keyframes bounce{

  0% {   border-radius:9px;

  }
  50% {   border-radius:18px;

  }
  100% { border-radius: 9px;
  
  }
}

.hamburger:before /* Ändra miten baren på hamburgaren*/{
  content: "";
  position: absolute;
  left: 16px;
  width: 20%;
  border-radius: 14px;
  border-top: 0.2em solid var(--third-color);
  animation: top 4s infinite;
}
@keyframes top{

  0% {   top: .64em; left: 3px;

  }

  25% {   top: .64em; left: 23px;

  }
  50% {   top: -.02em;  left: 3px;
  }

  75% {   top: -.02em; left: 23px;

    }

  100% { top: .64em; left: 3px;
  
  }
}


/* Main H1text*/

#maintext{

  margin: auto;
  max-width: 940px;

}


#maintext h1{
  color: var(--black);
  font-size: 39px;
  font-weight: 800;
}

.active {

  color:var(--first-color);
  animation: colorchange 3s linear 0s infinite alternate; /* animation-name followed by duration in seconds*/
     /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 3s linear 0s infinite alternate; /* Chrome and Safari */
}

@keyframes colorchange
{
  0%   {color: rgb(249 170 28 / 40%); color: var(--first-color);}
  100% {color: rgb(249 228 169 / 76%); color: var(--design);}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {color: rgb(249 170 28 / 40%); color: var(--first-color);}
  100% {color: rgb(249 228 169 / 76%); color: var(--design);}
}


.typewriter{
  display: contents;
}

.typewriter h3 {
  overflow: hidden; /* Gör så att det inte syns innan animationen */
  height: 21px;
  border-right: .19em solid var(--first-color);
  white-space: nowrap;
  letter-spacing: .15em;
  margin-left: 1px;
  width: min-content;
  animation: 
    typing 2.6s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--first-color); }
}




.paracontainer{
overflow: hidden; /*Maybe don't need makes items hidden if going over element */

}

.paraslider{
  background: url("../img/para1.png") repeat-x;
  width: 17280px; /* picture size times x3 */
  height: 640px;
  margin-top: 25%;
  animation:slide  20s 0s linear infinite;
  
}


@keyframes slide{

  0%     { -webkit-transform: translate3d( 0%, 0px, 0px); 
  }
   100%     { -webkit-transform: translate3d(-5760px, 0px, 0px); }
}


/* gonna add grid for easy input */

.section-port-web{
 
  display: block;
  width: 80%;
  margin: auto;
  
  
}



.sectiontext {
  padding: 15px;
  text-align: center;
  font-size: x-large;
  font-family: monospace;
  position: relative;
  background-color: #f0f8ff6e;
}
  
.section-port-web img{

  max-width: 100%;
  height: auto;
  border:2px solid #fff;
  -moz-box-shadow: 10px 10px 5px #7396af;
  -webkit-box-shadow: 10px 10px 5px #7396af;
  box-shadow: 10px 10px 5px #7396af;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  border-radius:25px;
  position: relative;


}



#boxes {
  width: 90%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4,1fr);


}



.parallax_img {
	height: 800px;
	background-image: url('../img/ocean1.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}
.border-line {
	height: 300px;
	background-color: rgb(34, 180, 180);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.parallax_img2 {
	height: 800px;
	background-image: url('../img/test.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.aboutmebox{
padding: 80px 10px 0px 10px;

}
.aboutmetitle {
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #21262f;
  font-size: 38px;
  font-weight: 800;
}

.aboutme{
    grid-area: aboutme;
    margin-top: 0px;
    padding-top: 0px;
    padding-right: 12px;
    padding-bottom: 0px;
    font-family: Esteban, sans-serif;
    color: var(--background-color);
    font-size: 18px;
    line-height: 28px;
}
.aboutmeimg{
  grid-area: aboutmeimg;
  width: 300px;
  margin: auto;
}

#containertop {
  margin: auto;
  width: 100%;
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows:  repeat(2, 1fr);
  grid-template-areas: 
  "aboutme aboutme aboutme aboutme aboutme aboutme"
  "aboutmeimg aboutmeimg aboutmeimg aboutmeimg aboutmeimg aboutmeimg";

}

/*smaller devices */
@media screen and (max-width: 1080px) {
    .logo a {
        width: 180px;
    
    }
    
    
    .logo span {
        font-size: medium;
        font-weight: 420;
        
    }
    #maintext{

      margin: 10px;
    
    }
    .parallax_img {
      background-attachment: inherit;
    }
    .aboutmetitle {
      font-size: 25px;
      font-weight: 600;
  
  }
  .section-port-web {
    width: 90%;
}
}
   
  @media screen and (max-width: 350px) {
    body{ 
   margin: auto;
   width: 325px;
   }
 }


    
    

