header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  height: 72px;
  width: 100%;
  background-color: var(--background-color);
}

body {
    
    font-size: 14px;
    color: var(--black);
    line-height: 1.8;
    letter-spacing: 1px;
    font-family: 'Dosis', sans-serif;
    text-align: left;
    -webkit-text-size-adjust: 100%;
    margin: auto;
}


img {
    width: 100%;
    height: auto;
}

a{

    text-decoration: none;

}

.logo{
    margin-top: 30px;
    text-align: center;
}

.logo a {
    display: block;
    width: 350px;
    height: auto;
    margin: 100px auto 10px;
}

.logo span{
        display: block;
        font-size: x-large;
        font-weight: 450;
        margin-top: -20px;
    
    
}

nav {
  position: relative;
}

/* Göm länkarna på menyn så dem inte syns från början*/
nav #myLinks {  
display: none;
width: 100%;
position: absolute;
justify-content: end;
text-align: center;
background: var(--background-color);
height: 2000px;
margin-top: 72px;
}

/* Fixa nav meny länkarna */
nav a {
  color: var(--first-color);
  text-decoration: none;
  width: 300px;
  margin: auto;
  font-size: 28px;
  border-radius: 66px;
  font-family: 'Dosis', sans-serif;
  display: block;
  padding: 25px;
  height: 3%;
}

/* Lägg till bakgrunds-färg (on mouse-hover) */
nav a:hover {
  background-color: var(--first-color);
  color: var(--black);
}

.hamburger /* Styla hamburgaren*/ {
  display: block;
  position: fixed;
  top: 1px;
  right: 13px;
  font-size: xx-large;
  width: 1.25em;
  height: 0.8em;
  margin-top: 0.5em;
  margin-right: 0.3em;
  border-radius: 9px;
  border-top: 0.3em solid var(--first-color);
  border-bottom: 0.3em solid var(--first-color);
  animation:bounce 1s infinite;
}
.hamburger:hover {
  animation-play-state: paused;
}

@keyframes bounce{

  0% {   border-radius:9px;

  }
  50% {   border-radius:18px;

  }
  100% { border-radius: 9px;
  
  }
}

.hamburger:before /* Ändra miten baren på hamburgaren*/{
  content: "";
  position: absolute;
  left: 16px;
  width: 20%;
  border-radius: 14px;
  border-top: 0.2em solid var(--third-color);
  animation: top 4s infinite;
}
@keyframes top{

  0% {   top: .65em; left: 3px;

  }

  25% {   top: .65em; left: 23px;

  }
  50% {   top: -.02em;  left: 3px;
  }

  75% {   top: -.02em; left: 23px;

    }

  100% { top: .65em; left: 3px;
  
  }
}


.paracontainer{
overflow: hidden; /*Maybe don't need makes items hidden if going over element */

}

.paraslider{
  background: url("../img/para1.png") repeat-x;
  width: 17280px; /* picture size times x3 */
  height: 1128px;
  animation:slide  20s 0s linear infinite;
  
}


@keyframes slide{

  0%     { -webkit-transform: translate3d( 0%, 0px, 0px); 
  }
   100%     { -webkit-transform: translate3d(-5760px, 0px, 0px); }
}





/*smaller devices */
@media (max-width: 760px) {
    .logo a {
        width: 180px;
    
    }
    
    
    .logo span {
        font-size: medium;
        font-weight: 420;
        
    }
    
    }
    

